<%= turbo_frame_tag "project" do %>
  <div class="container mx-auto mt-4">
    <h3>Added Users</h3>
    <% @project.users.each do |added_user| %>
      <div class="added-user mb-2">
        <p><%= "#{added_user.username} - #{added_user.role}" %></p>
        <%= button_to "Remove User", user_project_path(project_id: @project.id,id: added_user.id), method: :delete, class: 'btn btn-danger btn-sm', data: { turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
    <hr class="my-4">
    <h3>Add User</h3>
    <%= form_with(model: [@project, @user_project], url: user_projects_path(project_id: @project), method: :post, remote: true, class: 'multiple') do |form| %>
      <div class="input-group mb-3">
        <%= form.collection_select :user_id, @remaining_users, :id, proc { |user| "#{user.username} - #{user.role}" }, { class: 'form-select' } %>
        <%= form.submit "Add User", class: 'btn btn-primary', data: { disable_with: "Adding..." } %>
      </div>
    <% end %>
    <%= link_to 'Cancel', projects_path, class: 'btn btn-danger' %>
  </div>
<% end %>
