  <%= turbo_frame_tag "project" do %>
<%= render "devise/shared/error_messages", resource: @project %>
<div class="container-fluid">
<%= form_for @project do |f|%>
  <%=f.label :name , class: 'col-md-12'%>
  <%=f.text_field :project_name , class:'col-md-12' ,required: 'true' %>
  <div class="field">
    <%= f.label :developer_ids, class: 'col-md-12' %>
    <%= f.collection_select :id, @developers, :id, :username, { include_blank: 'Select developers' }, { multiple: true, class: 'col-md-12' } %>
  </div>
  <div class="field">
    <%= f.label :QA_ids, class: 'col-md-12' %>
    <%= f.collection_select :id, @qas, :id, :username, { include_blank: 'Select QA' }, { multiple: true, class: 'col-md-12' } %>
  </div>
      <%= f.hidden_field :remove_user_form, value: true %>
  <%= f.submit 'Remove User', name: 'commit' ,class: 'btn btn-info'%>
      <%= link_to 'Cancel', projects_path, class: 'btn btn-danger' %>


<%end%>
<h2>Already Added Users</h2>
    <% @project.users.each do |user| %>
      <p><%= user.username %></p>
    <% end %>
</div>
<%end%>
