<%= form_with model: [@project, @bug], local: true, html: { enctype: 'multipart/form-data' } do |form| %>
  <% if bug.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% bug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
     <%= form.label :screenshot %>
  <%= form.file_field :screenshot %>

  </div>

  <div>
    <%= form.label :deadline, style: "display: block" %>
  <%= form.date_field :deadline, value: @bug.deadline&.strftime("%Y-%m-%d %H:%M:%S") %>  </div>


  <div class="mb-4 pb-2">
    <%= form.label :bug_type %>
    <%= form.select :bug_type, options_for_select(["Feature", "Bug"]) %>
  </div>
      <%if current_user.developer?%>

  <div class="mb-4 pb-2">
    <%= form.label :bug_type %>
    <%= form.select :bug_status, options_for_select(["Started", "Resolved", "Completed"]) %>
  </div>
    <%end%>
  <div>
    <%= form.label :assigned_to, style: "display: block" %>
    <%= form.number_field :assigned_to %>
  </div>

  <div>
    <%= form.label :creater_id, style: "display: block" %>
    <%= form.number_field :creater_id, value: current_user.id%>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.number_field :project_id, value: @project.id %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', projects_path, class: 'btn btn-danger' %>

  </div>
<% end %>
