<!DOCTYPE html>
<html>
  <head>
    <title>BugzillaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #8356C3;">
  <% flash.each do |key, value| %>
  <div class="flash <%= key %> bg-secondary"><h3><%= value %></h3></div>
  <% end %>

    <%= yield %>

  </body>
</html>
